.filtersvg {
	/* Used 'filter' to alter the color of the SVG file */
	filter: invert(82%) sepia(42%) saturate(597%) hue-rotate(104deg)
		brightness(90%) contrast(98%);
}

.container {
	padding-bottom: 1rem;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.headerBkg {
	grid-area: 1 / 1 / 2 / 13;
	background-color: #222222;
}

.header {
	grid-area: 1 / 3 / 2 / 11;
	margin: 4px 0 4px 0;
}

.textOver {
	grid-area: 2 / 3 / 3 / 9;
	color: white;
	z-index: 1;
	align-self: end;
	padding-bottom: 5rem;
}

.textOver h5 {
	font-weight: normal;
}

.textOver h1 {
	font-weight: 300;
	margin: 0;
}

.textOver p {
	font-size: 12px;
	font-weight: 300;
	margin-top: 20px;
	max-width: 280px;
}

.hero {
	grid-area: 2 / 1 / 3 / 13;
	z-index: 0;
}

.howIt {
	grid-area: 3 / 3 / 4 / 11;
	text-align: center;
}

.howIt h3 {
	font-weight: normal;
	margin-bottom: 0px;
}

.step1 {
	grid-area: 4 / 3 / 5 / 5;
	margin: 0 5px;
}

.step2 {
	grid-area: 4 / 5 / 5 / 7;
	margin: 0 5px;
}

.step3 {
	grid-area: 4 / 7 / 5 / 9;
	margin: 0 5px;
}

.step4 {
	grid-area: 4 / 9 / 5 / 11;
	margin: 0 5px;
}

.styleSteps {
	text-align: center;
}

.styleSteps h1 {
	text-align: center;
	font-weight: normal;
	text-decoration: underline;
	text-underline-offset: 12px;
	text-decoration-color: #47e4c2;
}

.styleSteps h6 {
	font-size: 10px;
	margin-bottom: 0px;
}

.styleSteps p {
	font-size: 10px;
}

.startButton {
	border-radius: 20px;
	background-color: #47e4c2;
	border: none;
	font-size: 10px;
	font-weight: bold;
	padding: 5px 20px;
	cursor: pointer;
	transition: background-color 0.7s ease;
}

.startButton:hover,
.startButton:active,
.startButton:focus {
	background-color: #b4f1e4;
	border: none;
	outline: none;
}

.startButton:focus {
	outline: none;
	background-color: #fdd69b;
}

@media only screen and (min-width: 1440px) {
	.hero {
		height: 75vh;
		overflow-y: hidden;
	}
}

@media only screen and (max-width: 740px) {
	.header {
		grid-area: 1 / 1 / 2 / 9;
		margin: 4px 0 4px 10px;
	}

	.textOver {
		grid-area: 2 / 1 / 3 / 9;
		margin-left: 1rem;
		padding-bottom: 3rem;
	}
}

@media only screen and (max-width: 585px) {
	.textOver {
		grid-area: 2 / 1 / 3 / 11;
		margin-left: 1rem;
		padding-bottom: 1rem;
	}

	.step1 {
		grid-area: 4 / 1 / 5 / 4;
		margin: 0 5px;
	}

	.step2 {
		grid-area: 4 / 4 / 5 / 7;
		margin: 0 5px;
	}

	.step3 {
		grid-area: 4 / 7 / 5 / 10;
		margin: 0 5px;
	}

	.step4 {
		grid-area: 4 / 10 / 5 / 13;
		margin: 0 5px;
	}
}

@media only screen and (max-width: 455px) {
	.textOver h5 {
		margin: 2px 0 0 0;
	}

	.textOver h1 {
		font-size: 22px;
	}

	.textOver p {
		margin: 0 0 5px 0;
	}

	.step1 {
		grid-area: 4 / 3 / 5 / 11;
		margin: 0 5px;
	}

	.step2 {
		grid-area: 5 / 3 / 6 / 11;
		margin: 0 5px;
	}

	.step3 {
		grid-area: 6 / 3 / 7 / 11;
		margin: 0 5px;
	}

	.step4 {
		grid-area: 7 / 3 / 8 / 11;
		margin: 0 5px;
	}
}
